Repository gentoosiast/online-shop: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, npm run stylelint, npm run eslint

refactor: change animation to use on card hover
  src/css/card.module.css
Due: npm run stylelint

feat: describe used tech stack in README
  README.md
Due: none

feat: create good-looking README for the project
  README.md
  app-screenshot.webp
Due: none

feat: add description in README
  README.md
Due: none

fix: correct README.md markup
  README.md
  app-screenshot.webp
Due: none

feat: use environment variables to select API endpoints
  .env.development
  .env.production
  package-lock.json
  package.json
  src/components/FilterPage.tsx
  src/components/ItemDetailsPage.tsx
  src/environment.ts
  webpack.config.js
Due: npm run eslint

refactor: perform refactor and cleanup of project before launch
  .env.development
  CREDITS.md
  package-lock.json
  package.json
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/ItemCardCart.tsx
  src/components/OrderForm.tsx
  src/components/Sidebar.tsx
  src/css/header-footer.module.css
  src/environment.ts
  src/index.tsx
  src/pages/CartPage.tsx
  src/pages/ErrorPage.tsx
  src/pages/FilterPage.tsx
  src/pages/ItemDetailsPage.tsx
  src/pages/Root.tsx
  src/storage/cart.store.ts
  src/types/ItemCardSize.ts
  src/types/SliderValue.ts
  src/types/SortOption.ts
  src/types/cart.ts
  src/types/filters.ts
  src/types/items.ts
  src/utils/environment.ts
  src/utils/fetchData.ts
  src/utils/information.ts
  src/utils/validators.ts
Due: npm run stylelint, npm run eslint

fix: correct broken import of ItemCardSize
  src/components/ItemCard.tsx
Due: npm run eslint

feat: configure Jest and write unit tests for CartStore & PersistentStorage
  .eslintignore
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/cartStore.ts
  src/__tests__/persistentStorage.ts
  src/storage/cart.store.ts
  tsconfig.json
Due: npm run eslint

refactor: make interface properties readonly everywhere it is possible
  src/components/ItemCardCart.tsx
  src/components/OrderForm.tsx
  src/components/Sidebar.tsx
  src/storage/cart.store.ts
  src/types/cart.ts
  src/types/filters.ts
  src/types/items.ts
Due: npm run eslint

fix: correct bug with clicking on labels of categories and brands
  src/components/Sidebar.tsx
Due: npm run eslint

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  npm run stylelint: any of: *.css
  npm run eslint: (any of: *.ts) or (any of: *.tsx)
