Repository gentoosiast/online-shop: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, npm run stylelint, npm run eslint

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.css": "npm run stylelint",
  "*.ts": "npm run eslint",
  "*.tsx": "npm run eslint"
}

fix: remove unneeded useReducer & useState from Footer
  src/components/footer.tsx
Due: npm run eslint

fix: rename footer.tsx -> Footer.tsx
  src/components/Footer.tsx
Due: npm run eslint

fix: configure Netlify webpack plugin
  webpack.config.js
Due: none

feat: add pagination for cart
  package-lock.json
  package.json
  src/components/Cart.tsx
  src/components/Pagination.tsx
  src/css/cart.module.css
  src/storage/cart.store.ts
Due: npm run stylelint, npm run eslint

feat: change w objects
  package-lock.json
  package.json
  src/components/FilterPage.tsx
  src/components/Sidebar.tsx
  src/css/sidebar.module.css
Due: npm run stylelint, npm run eslint

feat: add promos, fix pagination, add orders
  src/components/Cart.tsx
  src/components/ItemCardCart.tsx
  src/components/Pagination.tsx
  src/components/footer.tsx
  src/css/cart.module.css
  src/storage/cart.store.ts
  src/storage/localstorage.ts
Due: npm run stylelint, npm run eslint

feat: add reset, copy, partial filters
  package-lock.json
  package.json
  src/components/FilterPage.tsx
  src/components/Sidebar.tsx
  src/css/sidebar.module.css
Due: npm run stylelint, npm run eslint

refactor: cleanup & make PR ready to merge
  src/components/Cart.tsx
  src/components/Header.tsx
  src/components/ItemCard.tsx
  src/components/ItemCardCart.tsx
  src/components/ItemDetailsPage.tsx
  src/components/Order/OrderForm.tsx
  src/components/Pagination.tsx
  src/css/cart.module.css
  src/css/main.css
  src/index.tsx
  src/storage/cart.store.ts
  src/types/cart.ts
Due: npm run stylelint, npm run eslint

feat: add localStorage support for the shopping cart
  src/storage/cart.store.ts
  src/storage/persistentStorage.ts
Due: npm run eslint

fix: remove cart from localStorage when clear() invoked on the model
  src/storage/cart.store.ts
  src/storage/persistentStorage.ts
Due: npm run eslint

feat: slider i
  package-lock.json
  package.json
  src/components/Sidebar.tsx
  src/components/Slider.tsx
Due: npm run eslint

feat: add localStorage support for promocodes
  src/components/Cart.tsx
  src/storage/cart.store.ts
  src/types/cart.ts
Due: npm run eslint

feat: add slider filters
  package-lock.json
  package.json
  src/components/FilterPage.tsx
  src/components/Sidebar.tsx
  src/components/Slider.tsx
  src/css/sidebar.module.css
Due: npm run stylelint, npm run eslint

fix: correct price for more than one item of the same type on item card page
  src/components/ItemCardCart.tsx
Due: npm run eslint

feat: add sliders change with other filters
  src/components/FilterPage.tsx
  src/components/Sidebar.tsx
Due: npm run eslint

feat: add not found
  src/components/FilterPage.tsx
  src/components/Sidebar.tsx
Due: npm run eslint

feat: implement query parameters for the cart
  src/components/Cart.tsx
  src/components/Pagination.tsx
Due: npm run eslint

fix: implement two routing fixes
  src/components/Cart.tsx
  src/components/ItemCardCart.tsx
  src/components/ItemDetailsPage.tsx
Due: npm run eslint

refactor: delete unused
  src/components/FilterPage.tsx
  src/components/Sidebar.tsx
Due: npm run eslint

promise rejection
  src/components/FilterPage.tsx
Due: npm run eslint

refactor: do some work on query parameters for categories and brands
  src/components/FilterPage.tsx
Due: npm run eslint

fix: make filters work with query params
  src/components/FilterPage.tsx
  src/components/Sidebar.tsx
  src/css/sidebar.module.css
Due: npm run stylelint, npm run eslint

feat: enable ESLint plugin which enforces the Rules of Hooks for React
  .eslintrc.json
  package-lock.json
  package.json
Due: none

fix: sliders copy queries if any
  .eslintrc.json
  package-lock.json
  package.json
  src/components/FilterPage.tsx
  src/components/Sidebar.tsx
Due: npm run eslint

fix: fix identical sliders copy
  src/components/FilterPage.tsx
Due: npm run eslint

feat: add spinner n btn to main if cart is empty
  src/assets/spinner.svg
  src/components/Cart.tsx
  src/components/FilterPage.tsx
  src/components/Spinner.tsx
  src/css/spinner.module.css
Due: npm run stylelint, npm run eslint

feat: placeholder styles
  src/components/FilterPage.tsx
  src/components/ItemCard.tsx
  src/components/Spinner.tsx
  src/css/placeholder.module.css
  src/css/spinner.module.css
Due: npm run stylelint, npm run eslint

fix: overflow hidden
  src/components/ItemCard.tsx
Due: npm run eslint

refactor: apply settings to webpack & stylelint providing better CSS Modules experience
  .stylelintrc.json
  webpack.config.js
Due: none

feat: enable ESLint plugin which enforces the Rules of Hooks for React
  package.json
Due: none

refactor: apply minor improvements and stylistic changes
  src/components/FilterPage.tsx
  src/components/Sidebar.tsx
  src/components/Slider.tsx
  src/css/sidebar.module.css
  src/types/filters.ts
  tailwind.config.js
Due: npm run stylelint, npm run eslint

feat: implement sort functionality
  src/components/FilterPage.tsx
Due: npm run eslint

feat: implement search functionality and reset of search/sort/card size
  src/components/FilterPage.tsx
Due: npm run eslint

refactor: rename searchValue -> searchQuery
  src/components/FilterPage.tsx
Due: npm run eslint
