Repository gentoosiast/online-shop: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, npm run stylelint, npm run eslint

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.css": "npm run stylelint",
  "*.ts": "npm run eslint",
  "*.tsx": "npm run eslint"
}

refactor: simplify logic for deleting all query params
  src/components/FilterPage.tsx
Due: npm run eslint

fix: make search case-insensitive
  src/components/FilterPage.tsx
Due: npm run eslint

fix: handle edge cases in pagination
  src/components/Pagination.tsx
Due: npm run eslint

feat: use our own backend
  src/components/FilterPage.tsx
  src/components/ItemDetailsPage.tsx
Due: npm run eslint

feat: add animated image placeholders
  src/components/ItemCard.tsx
  src/components/ItemCardCart.tsx
  src/components/ItemDetailsPage.tsx
  src/css/main.css
  tailwind.config.js
Due: npm run stylelint, npm run eslint

refactor: improve animated image placeholders
  src/components/Image.tsx
  src/components/ItemCard.tsx
  src/components/ItemCardCart.tsx
  src/components/ItemDetailsPage.tsx
  src/css/main.css
Due: npm run stylelint, npm run eslint

refactor: implement proof of concept with cat placeholder
  src/assets/cat-placeholder.svg
  src/components/ItemCard.tsx
  src/css/main.css
Due: npm run stylelint, npm run eslint

refactor: use cat placeholder for all images
  src/components/ItemCard.tsx
  src/components/ItemCardCart.tsx
  src/components/ItemDetailsPage.tsx
Due: npm run eslint

refactor: improve functionality and styling of breadcrumbs
  src/components/ItemDetailsPage.tsx
  src/css/main.css
Due: npm run stylelint, npm run eslint

feat: add svgr support to Webpack for importing SVGs as React Components
  module.d.ts
  package-lock.json
  package.json
  src/assets/shopping-cart.svg
  src/components/Header.tsx
  src/css/main.css
  webpack.config.js
Due: npm run stylelint, npm run eslint

feat: update favicons
  src/assets/apple-touch-icon.png
  src/assets/favicon.ico
  src/assets/icon-192.png
  src/assets/icon-512.png
  src/assets/icon.svg
Due: none

feat: styles-details, header, footer, sidebar
  package-lock.json
  package.json
  src/assets/Calling.png
  src/assets/Location.png
  src/assets/Message.png
  src/assets/cart.svg
  src/assets/home_icon.svg
  src/components/FilterPage.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/ItemDetailsPage.tsx
  src/components/Root.tsx
  src/components/Sidebar.tsx
  src/css/header.module.css
  src/css/main.css
  src/css/sidebar.module.css
  tailwind.config.js
Due: npm run stylelint, npm run eslint

fix: implement correct behavior for 'back button' on the Cart page
  src/components/Pagination.tsx
Due: npm run eslint

fix: improve UX of 'Items per page' input field
  src/components/Pagination.tsx
Due: npm run eslint

fix: fallback to last good value in onBlur handler of 'Items per page' input
  src/components/Pagination.tsx
Due: npm run eslint

feat: filterpage, cart
  module.d.ts
  package-lock.json
  package.json
  src/assets/Delete.svg
  src/assets/cart2.svg
  src/assets/cart_cat.png
  src/assets/cart_minus.png
  src/assets/cart_minus.svg
  src/assets/cart_plus.png
  src/assets/cart_plus.svg
  src/assets/cat_icon.png
  src/assets/cat_walk_icon.png
  src/assets/cat_walk_icon_.png
  src/assets/grid4.svg
  src/assets/grid4_.svg
  src/assets/grid9.svg
  src/assets/grid9_.svg
  src/assets/info.svg
  src/assets/logo.png
  src/components/Cart.tsx
  src/components/FilterPage.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/ItemCard.tsx
  src/components/ItemCardCart.tsx
  src/components/ItemDetailsPage.tsx
  src/components/Pagination.tsx
  src/components/Sidebar.tsx
  src/css/card.module.css
  src/css/cart.module.css
  src/css/header.module.css
  src/css/main.css
  src/css/sidebar.module.css
  tailwind.config.js
  webpack.config.js
Due: npm run stylelint, npm run eslint

feat: enable debouncing for 'price' and 'stock' sliders
  package-lock.json
  package.json
  src/components/Sidebar.tsx
Due: npm run eslint

feat: fixed desctop
  src/assets/Facebook.png
  src/assets/Instagram.png
  src/assets/Linkedin.png
  src/assets/Twitter.png
  src/assets/Union.png
  src/assets/all_cards.png
  src/assets/sale.png
  src/assets/super_sale.png
  src/components/Cart.tsx
  src/components/FilterPage.tsx
  src/components/Footer.tsx
  src/components/ItemDetailsPage.tsx
  src/components/Order/OrderForm.tsx
  src/components/Order/validators.ts
  src/components/Pagination.tsx
  src/components/Sidebar.tsx
  src/css/card.module.css
  src/css/cart.module.css
  src/css/header.module.css
  src/css/main.css
  src/css/sidebar.module.css
Due: npm run stylelint, npm run eslint

refactor: simplify logic in FilterPage and Sidebar
  src/components/FilterPage.tsx
  src/components/ItemCard.tsx
  src/components/ItemCardCart.tsx
  src/components/ItemDetailsPage.tsx
  src/components/Sidebar.tsx
  src/storage/cart.store.ts
  src/types/IItem.ts
  src/types/SliderValue.ts
  src/types/cart.ts
  src/types/filters.ts
  src/types/items.ts
Due: npm run eslint

feat: some styles for tab
  src/components/Footer.tsx
  src/components/ItemDetailsPage.tsx
  src/css/header.module.css
  src/css/main.css
  tailwind.config.js
Due: npm run stylelint, npm run eslint

feat: some mobile
  package-lock.json
  package.json
  src/components/Cart.tsx
  src/components/Footer.tsx
  src/css/header.module.css
  src/css/main.css
  tailwind.config.js
Due: npm run stylelint, npm run eslint

refactor: remove unneeded assignment
  src/components/FilterPage.tsx
Due: npm run eslint

feat: cart
  src/components/Cart.tsx
  src/css/header.module.css
Due: npm run stylelint, npm run eslint

fix: correct bug with unchecking category/brand when several others are checked
  src/components/FilterPage.tsx
Due: npm run eslint

feat: apply custom scroll to body
  package-lock.json
  package.json
  src/components/FilterPage.tsx
  src/css/main.css
Due: npm run stylelint, npm run eslint

refactor: disable slider snapping to min/max values of filtered items
  src/components/Sidebar.tsx
Due: npm run eslint

fix: correct previous refactor
  src/components/FilterPage.tsx
  src/components/Sidebar.tsx
  src/types/filters.ts
Due: npm run eslint

feat: replace slider with better version
  package-lock.json
  package.json
  src/components/FilterPage.tsx
  src/components/Sidebar.tsx
  src/css/main.css
  src/types/SliderValue.ts
  src/types/items.ts
  webpack.config.js
Due: npm run stylelint, npm run eslint

feat: replace slider with better version
  package-lock.json
  package.json
  src/components/FilterPage.tsx
  src/components/Sidebar.tsx
  src/css/rc-slider.css
  src/css/sidebar.module.css
  src/types/SliderValue.ts
  src/types/items.ts
  tailwind.config.js
  webpack.config.js
Due: npm run stylelint, npm run eslint

refactor: change interfaces of ItemStats according to DRY principle
  src/types/items.ts
Due: npm run eslint

fix: correct case of image filenames
  src/assets/calling.png
  src/assets/location.png
  src/assets/message.png
Due: none

feat: replace outdated react-stars component with modern one
  package-lock.json
  package.json
  src/components/ItemDetailsPage.tsx
Due: npm run eslint

feat: make entire item cards clickable
  src/components/ItemCard.tsx
  src/css/main.css
Due: npm run stylelint, npm run eslint

feat: use library for better email validation in Order form
  package-lock.json
  package.json
  src/components/Order/validators.ts
Due: npm run eslint

feat: styles for 404
  src/assets/cat404.png
  src/components/ErrorPage.tsx
Due: npm run eslint

feat: add info
  src/index.tsx
  src/information.ts
Due: npm run eslint

refactor: improve styles and UI/UX
  package-lock.json
  package.json
  src/assets/cart-add.svg
  src/assets/cart-remove.svg
  src/assets/cart_minus.png
  src/assets/cart_plus.png
  src/assets/sale.png
  src/assets/sale.webp
  src/components/Cart.tsx
  src/components/FilterPage.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/ItemCard.tsx
  src/components/ItemCardCart.tsx
  src/components/ItemDetailsPage.tsx
  src/components/Order/OrderForm.tsx
  src/components/Pagination.tsx
  src/components/Sidebar.tsx
  src/css/card.module.css
  src/css/cart.module.css
  src/css/filterpage.module.css
  src/css/header.module.css
  src/css/main.css
  src/css/sidebar.module.css
  src/index.html
Due: npm run stylelint, npm run eslint

fix: correct validateDOMNesting problem
  src/components/ItemCard.tsx
Due: npm run eslint

feat: add scroll-up btn
  src/components/FilterPage.tsx
  src/components/Scroll.tsx
  src/css/scroll.module.css
Due: npm run stylelint, npm run eslint

feat: animate card title of items on hover
  src/components/ItemCard.tsx
  src/css/card.module.css
  src/css/main.css
Due: npm run stylelint, npm run eslint
