Repository gentoosiast/online-shop: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, npm run stylelint, npm run eslint

chore: add contributors
  package.json
Due: none

feat: add product interface
  src/types/Iproduct.ts
Due: npm run eslint

feat:add item interface
  src/types/IItem.ts
Due: npm run eslint

fix: temporarily import IItem to satisfy ESLint
  src/App.tsx
Due: npm run eslint

feat: implement FullNameInput component
  src/App.tsx
  src/components/Order/FullNameInput.tsx
  src/components/Order/validations.ts
  src/css/main.css
Due: npm run stylelint, npm run eslint

feat: implement FullNameInput component corr
  src/components/Order/FullNameInput.tsx
  src/components/Order/validations.ts
Due: npm run eslint

feat: add personal details
  src/App.tsx
  src/components/Order/FullNameInput.tsx
  src/components/Order/validations.ts
  src/css/main.css
Due: npm run stylelint, npm run eslint

fix: add linting of .tsx to 'eslint' script in package.json
  package.json
Due: none

feat: implement Order Form
  CREDITS.md
  src/App.tsx
  src/assets/card-amex.svg
  src/assets/card-default.svg
  src/assets/card-mastercard.svg
  src/assets/card-visa.svg
  src/components/Order/FullNameInput.tsx
  src/components/Order/OrderForm.tsx
  src/components/Order/validations.ts
  src/components/Order/validators.ts
  src/css/main.css
Due: npm run stylelint, npm run eslint

fix: remove outline of form inputs
  src/css/main.css
Due: npm run stylelint

fix: properly handle onSubmit event for the form
  src/components/Order/OrderForm.tsx
Due: npm run eslint

refactor: improve styles for conditional rendering
  src/components/Order/OrderForm.tsx
Due: npm run eslint

fix: improve validation of fullName and cardExpiration
  src/components/Order/validators.ts
Due: npm run eslint

fix: card with expiration date 12/22 now expires 01 Jan 2023
  src/components/Order/validators.ts
Due: npm run eslint

feat: add preliminary footer
  src/App.tsx
  src/assets/github-dark-bg.svg
  src/assets/github-light-bg.svg
  src/assets/rslogo-dark-bg.svg
  src/assets/rslogo-light-bg.svg
  src/components/footer.tsx
  src/css/main.css
Due: npm run stylelint, npm run eslint

fix: import images, css, json with correct type
  module.d.ts
Due: npm run eslint

fix: replace enum with object literal in OrderForm
  src/components/Order/OrderForm.tsx
Due: npm run eslint

feat: add FeatherIcons icon vector pack
  package-lock.json
  package.json
Due: none

feat: add temporary header
  src/App.tsx
  src/assets/logo.png
  src/components/Header.tsx
  src/css/main.css
Due: npm run stylelint, npm run eslint

feat: sidebar wt sliders
  package-lock.json
  package.json
  src/App.tsx
  src/components/sidebar.tsx
  src/components/temporaryGoods.js
  src/css/sidebar.module.css
Due: npm run stylelint, npm run eslint

feat: add item card, problem with useState
  src/App.tsx
  src/components/ItemCard.tsx
  src/types/IItem.ts
Due: npm run eslint

fix: fetch items dto
  src/App.tsx
  src/components/ItemCard.tsx
  src/components/ItemsFetch.tsx
  src/types/IItem.ts
Due: npm run eslint

feat: add item details page
  src/App.tsx
  src/components/ItemDetailsPage.tsx
Due: npm run eslint

fix: correct styles for item details page
  src/components/ItemDetailsPage.tsx
Due: npm run eslint

feat: add styles to cards
  src/components/ItemCard.tsx
  src/components/ItemsFetch.tsx
  src/css/main.css
Due: npm run stylelint, npm run eslint

feat: add header for filter-page
  src/App.tsx
  src/assets/grid.svg
  src/assets/list.svg
  src/components/FilterPage.tsx
Due: npm run eslint

feat: add sizes for filer page
  src/components/FilterPage.tsx
  src/components/ItemCard.tsx
  src/components/ItemsFetch.tsx
Due: npm run eslint

feat: add error on fetch
  src/components/ItemsFetch.tsx
Due: npm run eslint

refactor: improve and refactor PR
  src/App.tsx
  src/assets/grid.svg
  src/assets/list.svg
  src/components/FilterPage.tsx
  src/components/ItemCard.tsx
  src/components/ItemDetailsPage.tsx
  src/components/ItemsFetch.tsx
  src/css/main.css
  src/fetchData.ts
  src/types/ItemCardSize.ts
Due: npm run stylelint, npm run eslint

feat: trying slider
  src/components/sidebar.tsx
  src/index.html
  tsconfig.json
Due: npm run eslint

fix: fix category n brand filter
  src/components/FilterPage.tsx
Due: npm run eslint

feat: add proof of concept slider
  package-lock.json
  package.json
  src/App.tsx
  src/components/Slider.tsx
  src/css/main.css
  tailwind.config.js
Due: npm run stylelint, npm run eslint

feat: add data object n slider
  package-lock.json
  package.json
  src/components/FilterPage.tsx
  src/components/Slider.tsx
  src/components/sidebar.tsx
  src/css/sidebar.module.css
Due: npm run stylelint, npm run eslint

feat: add cart logic
  package-lock.json
  package.json
  src/components/Header.tsx
  src/components/ItemCard.tsx
  src/components/ItemDetailsPage.tsx
  src/storage/cart.store.ts
  src/types/cart.ts
  tsconfig.json
Due: npm run eslint

fix: only add promo to the Set if it belongs to whitelist
  src/storage/cart.store.ts
Due: npm run eslint

refactor: add promoList() which will be used for displaying enabled promos
  src/storage/cart.store.ts
Due: npm run eslint

fix: correct add promo logic; remove unneeded removePromo method
  src/storage/cart.store.ts
Due: npm run eslint

fix: clear applied promos as well as cart items
  src/storage/cart.store.ts
Due: npm run eslint

feat: add cartCards n fix add to/remove from cart
  src/App.tsx
  src/components/Cart.tsx
  src/components/ItemCard.tsx
  src/components/ItemCardCart.tsx
  src/components/ItemDetailsPage.tsx
  src/storage/cart.store.ts
Due: npm run eslint

feat: add routing & caching
  package-lock.json
  package.json
  src/App.tsx
  src/components/CartPage.tsx
  src/components/ErrorPage.tsx
  src/components/FilterPage.tsx
  src/components/Header.tsx
  src/components/ItemCard.tsx
  src/components/ItemDetailsPage.tsx
  src/components/Root.tsx
  src/css/main.css
  src/index.tsx
  src/types/SortOption.ts
  tsconfig.json
  webpack.config.js
Due: npm run stylelint, npm run eslint

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  npm run stylelint: any of: *.css
  npm run eslint: (any of: *.ts) or (any of: *.tsx)
